body {
  background: #e1e1ea;
  font-family: 'Roboto';
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
}
/**Left side CSS**/
.left-box{
  float: left;
  box-shadow: 10px 10px 5px grey;
  background-color: #38455c;
  height: 961px;
  width: 300px;
  box-sizing: border-box;
  margin: 15px 15px 15px 15px;
}

/**Left side content CSS**/
.top-left{
  position: relative;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  box-sizing: border-box;
  height: 25%;
  margin: 0px;
}

.name {
    position: absolute;
    font-size: 40px;
    color: white;
    bottom: 8px;
    left: 16px;
    box-sizing: border-box;
}

img { 
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.objective {
   border-style: solid;
   border-width: 0px 0px 2px 0px ;
   margin: 15px;
   padding: 10px;
   box-sizing: border-box;
}

.objective-img{
  float: left;
  border: solid;
  border-width: 3px;
  box-sizing: border-box;
  width: 30px;
  height: auto;
}

.objective-text{
  display: inline-block;
  text-align: left;
  color: white;
  box-sizing: border-box;
  margin: 15px 15px 15px 15px;
}

.phone{
   border-style: solid;
   border-width: 0px 0px 2px 0px;
   box-sizing: border-box;
   margin: 15px;
   padding: 10px;
}

.phone-text {
  display: inline-block;
  text-align: left;
  font-size: 20px;
  color: white;
  margin: 15px 15px 15px 15px;
  box-sizing: border-box;
}

.email{
   border-style: solid;
   border-width: 0px 0px 0px 0px;
   box-sizing: border-box;
   margin: 15px;
   padding: 10px;
}

.email-text {
  display: inline-block;
  text-align: left;
  font-size: 20px;
  color: white;
  margin: 15px 15px 15px 15px;
  box-sizing: border-box;
}
/**work experience box**/
.work-experience {
  float: left;
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  height: 300px;
  width: 850px;
  margin: 15px 15px 15px 15px;
  box-sizing: border-box;
}

.work-img {
  float: left;
  background-color: #b30000;
  height: auto;
  width: 50px;
  margin: 25px 30px 100% 30px;
  box-sizing: border-box;
}

.job-box{
  float: left;
  border: solid;
  border-width: 0px 0px 3px 0px;
  box-sizing: border-box;
  margin: 0px 10px 0px 0px;
  padding: 10px 10px 10px 10px;
  width: 200px;
  height: auto;
}

.job-box:hover {
  background-color: gray;
}

.job-title {
  font-weight: bold;
  line-height: 1.5;
  box-sizing: border-box;
}

.job-date{
  color: #b30000;
  line-height: 1.5;
  box-sizing: border-box;
}


.job-description{
  line-height: 1.5;
  box-sizing: border-box;
}

/**Education box**/
.education {
  float: left;
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  box-sizing: border-box;
  height: 300px;
  width: 850px;
  margin: 15px 15px 15px 15px;
}

/**interest box**/
.interest {
  float: left;
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  box-sizing: border-box;
  height: 300px;
  width: 410px;
  margin: 15px 15px 15px 15px;
}

/**Skills box**/
.skills {
  float: left;
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  box-sizing: border-box;
  height: 300px;
  width: 410px;
  margin: 15px 15px 15px 15px;
}

 {
  list-style-type: none;
}

ul {
  list-style: none;
  margin: 10px 20px 20px 45px;
}

li.l1 {
  border: solid;
  border-width: 1px;
  background-color: #b30000;
  margin: 10px 110px 10px 0px;
}

li.l2 {
  border: solid;
  border-width: 1px;
  background-color: #b30000;
  margin: 10px 130px 10px 0px;
}

li.l3 {
  border: solid;
  border-width: 1px;
  background-color: #b30000;
  margin: 10px 0px 10px 0px;
}

li.l4 {
  border: solid;
  border-width: 1px;
  background-color: #b30000;
  margin: 10px 90px 10px 0px;
  padding: 0px 101px 0px 0px;
}




